
# Android
# Flutter / Dart
# iOS
**/xcuserdata/
*.iml
*.jks
*.keystore
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.packages
.pub-cache/
.pub/
.vscode/
/android/**/gradle-wrapper.jar
/android/.gradle/
/android/key.properties
/android/local.properties
/ios/.symlinks/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
build/
server/video/__pycache__/
server/video/fonts/
